/* css styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #ffff;
}

/* Header styles */
header {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "Playfair Display", serif;
    color: #051c2c;
    padding: 0.3em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-background {
    padding: 10px 0;
}

.main-logo-link {
    color: #000;
    text-decoration: none;
}

.logo-font {
    font-size: 2rem;
    white-space: nowrap;
    color: #051c2c;
}

.logo {
    position: absolute; /* Position the logo absolutely */
    margin-top: 20%;
    z-index: 10000; /* Ensure the logo is above the navbar */
}

.logo-image {
    max-height: 250px; 
}


.form-control {
    border-radius: 0;
    box-shadow: none;
}

#user-name {
    color: #051c2c
}

#language-options {
    color: #051c2c;
}

.navbar-nav a {
    color: #051c2c;
    text-decoration: none;
    font-size: large;
}

.icon {
    display: inline-block;
    color: #051c2c;
}

@media (max-width: 992px) {
    .d-lg-flex {
        display: block !important;
    }

    .d-none.d-lg-flex {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .logo-font {
        font-size: 1.5rem;
    }
}
  
/* Hero section styles */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero #hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .hero-content {
    text-align: center;
    color: white;
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    font-family: "Cinzel", serif;
}

.hero p {
    font-size: 1.5em;
}

/* Main content styles */
main {
    padding: 2em;
    margin-top: 70px; /* To avoid content being hidden under the fixed header */
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
}

/* Property listings styles */
.property-listings {
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    text-align: center;
    background-color: #e6e6e6;
}

.property-listings h2 {
    color: #005f6b;
    margin-bottom: 1em;
}

.property {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 calc(33% - 1em);
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.property:hover {
    transform: scale(1.04);
}

.property img {
    width: 100%;
    height: auto;
}

.property h3 {
    background-color: #028090;
    color: white;
    margin: 0;
    padding: 1em;
    text-align: center;
}

.property p {
    padding: 0 1em 1em;
}

/* Carousel */
    
:root {
    --box-border: #e6e6e6;
    --crsl-bg: #e6e6e6;
    --box-bg: #e6e6e6;
    --box-shadow: #ccc;
  }

  .carousel {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
  }

  .carousel__prev, .carousel__next {
    position: absolute;
    bottom: -2%; 
    transition: transform 0.25s ease;
    padding-bottom: 10px;
  }

  .carousel__prev i, .carousel__next i {
    cursor: pointer;
  }

  .carousel__prev:hover, .carousel__next:hover {
    transform: scale(1.25);
  }

  .carousel__prev {
    left: 40%;
  }

  .carousel__next {
    right: 40%;
  }

  .carousel__body {
    width: 100%;
    padding: 20px 0 100px 0;
    overflow: hidden;
  }

  .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel__slider__item {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
  }

  .item__3d-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
  }

  .item__3d-frame:after {
    content: '';
    position: absolute;
    bottom: -15%;
    width: 100%;
    height: 40px;
    background: var(--box-shadow);
    box-shadow: 0px 0px 5px 5px var(--box-shadow);
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
    opacity: 0.85;
  }

  .item__3d-frame__box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-color: var(--box-border);
    background: var(--box-bg);
    border-width: 3px;
    border-style: solid;
  }

  .item__3d-frame__box h1 {
    font-size: 7em;
    width: 100%;
    color: var(--box-border);
  }

  .item__3d-frame__box--left, .item__3d-frame__box--right {
    top: 0;
    width: 40px;
    backface-visibility: hidden;
  }

  .item__3d-frame__box--left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -40px) rotateY(-90deg);
    transform-origin: 0%;
  }

  .item__3d-frame__box--right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -40px) rotateY(90deg);
    transform-origin: 100%;
  }

/* Services/Features section styles */
.services {
    background-color: #e0f7fa;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    text-align: center;
}

.services h2 {
    color: #005f6b;
    margin-bottom: 1em;
}

.services ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: calc(33% - 2em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property h3 {
    background-color: #028090;
    color: white;
    margin: 0;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
}

.property p {
    padding: 1em 1em 1em;
    color: #028090;
}

/* Services/Features section styles */
.services {
    background-color: #e0f7fa;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    text-align: center;
}

.services h2 {
    color: #005f6b;
    margin-bottom: 1em;
}

.service {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service i {
    color: #028090;
    margin-bottom: 0.5em;
}

.service-description {
    color: #028090;
}

/* About Us section styles */
.about-us {
    background-color: #e6e6e6;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 0,5em;
    text-align: center;
}

.about-us h2 {
    color: #005f6b;
    margin-bottom: 1em;
}

.about-us p {
    text-align: justify;
    color: #005f6b;
}

/* Footer styles */
.footer-cover {
    background-color: #1d220c;
}

footer .footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.links {
    width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  margin: 0 10px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
} 

footer a .icon {
    position: relative;
    color: #1d220c;
    transition: .5s;
    z-index: 3;
  }

.icon:hover {
    color: white;
    transform: rotateY(360deg);
}

.links:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }

.links:hover:before {
    top: 0;
  }
  
.facebook:before{
    background: #3b5999;
  }
  
.linkedin:before{
    background: #55acee;
  }

.insta:before {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d)
  }
  
footer a {
    color: white;
    margin: 0 0.5em;
    text-decoration: none;
} 

footer a:hover {
    text-decoration: underline;
} 

footer a .icon {
    position: relative;
    color: #1d220c;
    transition: .5s;
    z-index: 3;
  }

.icon:hover {
    color: white;
    transform: rotateY(360deg);
}

.links:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }

.links:hover:before {
    top: 0;
  }
  
.facebook:before{
    background: #3b5999;
  }
  
.linkedin:before{
    background: #55acee;
  }

.insta:before {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d)
  }
  
